---
name: test

on:
  pull_request:
    paths:
    - '.github/workflows/test-action.yaml'
    - 'bin/validate-k8s.sh'
    - 'ci/test-data/*'
    - 'ci/validation/*'
    - 'action.yml'
  schedule:
  - cron: '0 5 * * 1'

jobs:
  test-action:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

    - name: Test
      uses: ./
      with:
        flux-version: '2.6.2'
        files: '["ci/test-data/test-package/kustomization.yaml", "ci/test-data/kustomization.yaml"]'
        pkg-include: '["ci/test-data/*"]'
        pkg-exclude: '[]'
        env-file: 'ci/validation/.env'
        debug: 'true'
