---
name: test

on:
  pull_request:
    paths:
    - '.github/workflows/test-action.yaml'
    - 'action.yml'
    - 'ci/test-data/*'
    - 'ci/validation/*'
    - 'scripts/*.sh'
  workflow_dispatch:
  schedule:
  - cron: '0 5 * * 1'

jobs:
  test-action:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      with:
        fetch-depth: 1
        persist-credentials: false

    - name: Test - Discover from seed
      uses: ./
      with:
        # yamllint disable rule:line-length
        files: '["ci/test-data/test-package/nginx-deployment.yaml", "ci/test-data/test-package/nginx-ingress.yaml", "ci/test-data/test-package/nginx-service.yaml", "ci/test-data/kustomization.yaml"]'
        pkg-include: '["ci/test-data/*"]'
        pkg-exclude: '[]'
        env-file: 'ci/validation/.env'
        debug: 'false'

    - name: Test - Discover all
      uses: ./
      with:
        files: '[]'
        pkg-include: '["ci/test-data/*"]'
        pkg-exclude: '[]'
        env-file: 'ci/validation/.env'
        debug: 'false'

    - name: Test - Explicit List of Kustomizations
      uses: ./
      with:
        files: '["ci/test-data/test-package/kustomization.yaml", "ci/test-data/kustomization.yaml"]'
        pkg-include: '["ci/test-data/*"]'
        pkg-exclude: '[]'
        env-file: 'ci/validation/.env'
        debug: 'false'
